.rc-el-carousel {
    width: 350px;
    overflow: hidden;
    display: inline-block;
    position: relative;
}

.rc-el-carousel:hover .rc-el-carousel-arrow {
    display: inline-block;
}

.rc-el-carousel-container {
    position: relative;
    height: 150px;
    width: 2100px;
    display: inline-block;
}

.rc-el-carousel-arrow {
    display: none;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    height: 36px;
    width: 36px;
    cursor: pointer;
    transition: .3s;
    border-radius: 50%;
    background-color: rgba(31, 45, 61, .11);
    color: #fff;
    position: absolute;
    top: 50%;
    z-index: 10;
    transform: translateY(-50%);
    text-align: center;
    font-size: 16px;
}

.rc-el-carousel-arrow-left {
    left: 16px;
}

.rc-el-carousel-arrow-right {
    right: 16px;
}

.rc-el-carousel-indicators {
    position: absolute;
    list-style: none;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    padding: 0;
    z-index: 2;
}

.rc-el-carousel-indicator {
    display: inline-block;
    background-color: transparent;
    padding: 12px 4px;
    cursor: pointer;
}

.rc-el-carousel-indicator:hover .rc-el-carousel-button {
    opacity: .72;
}

.rc-el-carousel-button {
    display: block;
    opacity: .48;
    width: 30px;
    height: 2px;
    background-color: #fff;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    transition: .3s;
}