.rc-el-carousel {
    width: 100%;
    overflow: hidden;
    display: inline-block;
    position: relative;
}

@keyframes leftShowAnimate {
    0% {
        left: 12px;
        opacity: 0.3;
    }

    50% {
        left: 14px;
        opacity: 0.5;
    }

    100% {
        left: 16px;
        opacity: 1;
    }
}

@keyframes rightShowAnimate {
    0% {
        right: 12px;
        opacity: 0.3;
    }

    50% {
        right: 14px;
        opacity: 0.5;
    }

    100% {
        right: 16px;
        opacity: 1;
    }
}

.rc-el-carousel-container {
    position: relative;
    height: 150px;
    width: 2160px;
    display: inline-block;
}

.rc-el-carousel-container-animate {
    transition: transform 0.5s;
}

.rc-el-carousel-arrow-left-default {
    display: inline-block;
    opacity: 0;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    height: 36px;
    width: 36px;
    cursor: pointer;
    border-radius: 50%;
    background-color: rgba(31, 45, 61, .11);
    color: #fff;
    position: absolute;
    top: 50%;
    z-index: 10;
    transform: translateY(-50%);
    text-align: center;
    font-size: 16px;
    left: 16px;
}

.rc-el-carousel-arrow-left-enter {
    opacity: 1;
    animation: leftShowAnimate 0.2s 1;
}

.rc-el-carousel-arrow-left-leave {
    opacity: 0;
    animation: leftLeaveAnimate 0.2s 1;
}

.rc-el-carousel-arrow-right-default {
    display: inline-block;
    opacity: 0;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    height: 36px;
    width: 36px;
    cursor: pointer;
    border-radius: 50%;
    background-color: rgba(31, 45, 61, .11);
    color: #fff;
    position: absolute;
    top: 50%;
    z-index: 10;
    transform: translateY(-50%);
    text-align: center;
    font-size: 16px;
    right: 16px;
}

.rc-el-carousel-arrow-right-enter {
    opacity: 1;
    animation: rightShowAnimate 0.2s 1;
}

.rc-el-carousel-arrow-right-leave {
    opacity: 0;
    animation: rightLeaveAnimate 0.2s 1;
}

@keyframes leftLeaveAnimate {
    0% {
        left: 16px;
        opacity: 1;
    }

    50% {
        left: 14px;
        opacity: 0.5;
    }

    100% {
        left: 12px;
        opacity: 0.3;
    }
}

@keyframes rightLeaveAnimate {
    0% {
        right: 16px;
        opacity: 1;
    }

    50% {
        right: 14px;
        opacity: 0.5;
    }

    100% {
        right: 12px;
        opacity: 0.3;
    }
}

.rc-el-carousel-indicators {
    position: absolute;
    list-style: none;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    padding: 0;
    z-index: 2;
}

.rc-el-carousel-indicator {
    display: inline-block;
    background-color: transparent;
    padding: 12px 4px;
    cursor: pointer;
}

.rc-el-carousel-indicator:hover .rc-el-carousel-button {
    opacity: .72;
}

.rc-el-carousel-button {
    display: block;
    opacity: .48;
    width: 30px;
    height: 2px;
    background-color: #fff;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    transition: .3s;
}
