.rc-el-spinning-loading-wrap {
    position: relative;
    display: inline-block;
}

.rc-el-spinning-loading {
    width: 20px;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: auto;
    margin: auto;
    z-index: 12;
}

/*  type circle css */

.rc-el-spinning-circle {
    width: 30px;
    height: 30px;
}

.rc-el-spinning-circle-circular {
    height: 30px;
    width: 30px;
    -webkit-animation: loading-rotate 2s linear infinite;
    animation: loading-rotate 2s linear infinite
}

.rc-el-spinning-circle-path {
    animation: loading-dash 1.5s ease-in-out infinite;
    stroke-dasharray: 90, 150;
    stroke-dashoffset: 0;
    stroke-width: 2;
    stroke: #40a9ff;
    stroke-linecap: round;
}

@keyframes loading-dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -40px
    }
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -120px
    }
}

@keyframes loading-rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

/*  type circle css  end */

/*  type fence css */

.rc-el-spinning-fence span {
    display: inline-block;
    width: 2px;
    height: 8px;
    border-radius: 2px;
    background: #91d5ff;
    margin: auto;
    -webkit-animation: load-fence 1s ease infinite;
}

@-webkit-keyframes load-fence {
    0%,
    100% {
        height: 8px;
        background: #91d5ff;
    }
    50% {
        height: 16px;
        background: #40a9ff;
    }
}

.rc-el-spinning-fence span:nth-child(2) {
    -webkit-animation-delay: 0.2s;
}

.rc-el-spinning-fence span:nth-child(3) {
    -webkit-animation-delay: 0.4s;
}

.rc-el-spinning-fence span:nth-child(4) {
    -webkit-animation-delay: 0.6s;
}

.rc-el-spinning-fence span:nth-child(5) {
    -webkit-animation-delay: 0.8s;
}

/*  type fence css  end */

/* type ellipsis css */

.rc-el-spinning-ellipsis {
    width: 60px;
}

.rc-el-spinning-ellipsis span {
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #40a9ff;
    border-radius: 4px;
    margin: auto;
    -webkit-animation: load-ellipsis 1s ease infinite;
}

@-webkit-keyframes load-ellipsis {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.rc-el-spinning-ellipsis span:nth-child(2) {
    -webkit-animation-delay: 0.2s;
}

.rc-el-spinning-ellipsis span:nth-child(3) {
    -webkit-animation-delay: 0.4s;
}

.rc-el-spinning-ellipsis span:nth-child(4) {
    -webkit-animation-delay: 0.6s;
}

.rc-el-spinning-ellipsis span:nth-child(5) {
    -webkit-animation-delay: 0.8s;
}

/* type ellipsis css  end */

/* type dynamic-ellipsis css */

.rc-el-spinning-dynamic-ellipsis {
    width: 60px;
}

.rc-el-spinning-dynamic-ellipsis span {
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #40a9ff;
    border-radius: 4px;
    margin: auto;
    -webkit-animation: load-dynamic-ellipsis 1.2s ease infinite;
}

@-webkit-keyframes load-dynamic-ellipsis {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(0.3);
    }
}

.rc-el-spinning-dynamic-ellipsis span:nth-child(2) {
    -webkit-animation-delay: 0.2s;
}

.rc-el-spinning-dynamic-ellipsis span:nth-child(3) {
    -webkit-animation-delay: 0.4s;
}

.rc-el-spinning-dynamic-ellipsis span:nth-child(4) {
    -webkit-animation-delay: 0.6s;
}

.rc-el-spinning-dynamic-ellipsis span:nth-child(5) {
    -webkit-animation-delay: 0.8s;
}

/* type dynamic-ellipsis css end */

.rc-el-spinning-item-container div.rc-el-spinning-item-children {
    /* overflow: hidden; */
    opacity: 0.7;
    -webkit-filter: blur(0.5px);
    filter: blur(0.5px);
    /* autoprefixer: off */
    transform: translateZ(0);
}

.rc-el-spinning-item-container div.rc-el-spinning-item-children::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    opacity: 0.3;
    transition: all .3s;
    z-index: 10;
    /* height: 0; */
    /* overflow: hidden; */
}