.rc_el_tag {
    background-color: rgba(64, 158, 255, .1);
    display: inline-block;
    padding: 0 10px;
    height: 32px;
    line-height: 30px;
    font-size: 12px;
    color: #409eff;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid rgba(64, 158, 255, .2);
    white-space: nowrap;
    opacity: 1;
    transition: all .3s cubic-bezier(.55, 0, .1, 1);
}

.rc_el_tag_closed {
    opacity: 0;
    transform: scaleX(0);
}

.rc_el_tag_success {
    background-color: rgba(103, 194, 58, .1);
    border-color: rgba(103, 194, 58, .2);
    color: #67c23a;
}

.rc_el_tag_info {
    background-color: hsla(220, 4%, 58%, .1);
    border-color: hsla(220, 4%, 58%, .2);
    color: #909399;
}

.rc_el_tag_warning {
    background-color: rgba(230, 162, 60, .1);
    border-color: rgba(230, 162, 60, .2);
    color: #e6a23c;
}

.rc_el_tag_danger {
    background-color: hsla(0, 87%, 69%, .1);
    border-color: hsla(0, 87%, 69%, .2);
    color: #f56c6c;
}

.rc_el_tag_medium {
    height: 28px;
    line-height: 26px;
}

.rc_el_tag_small {
    height: 24px;
    padding: 0 8px;
    line-height: 22px;
}

.rc_el_tag_mini {
    height: 20px;
    padding: 0 5px;
    line-height: 19px;
}

.rc_el_tag .rc_el_tag_icon_close {
    border-radius: 50%;
    text-align: center;
    position: relative;
    cursor: pointer;
    font-size: 18px;
    height: 16px;
    width: 16px;
    line-height: 14px;
    vertical-align: middle;
    top: -1px;
    right: -5px;
    color: #409eff;
}

.rc_el_tag .rc_el_tag_icon_close:before {
    display: block;
}

.rc_el_tag_close:before {
    content: "×";
}

[class*=" rc_el_tag_icon_"],
[class^=rc_el_tag_icon_] {
    font-family: sans-serif;
    /* speak: none; */
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: baseline;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.rc_el_tag_success .rc_el_tag_icon_close {
    color: #67c23a;
}

.rc_el_tag_info .rc_el_tag_icon_close {
    color: #909399;
}

.rc_el_tag_warning .rc_el_tag_icon_close {
    color: #e6a23c;
}

.rc_el_tag_danger .rc_el_tag_icon_close {
    color: #f56c6c;
}

.rc_el_tag .rc_el_tag_icon_close:hover {
    background-color: #409eff;
    color: #ffffff;
}

.rc_el_tag_success .rc_el_tag_icon_close:hover {
    background-color: #67c23a;
    color: #ffffff;
}

.rc_el_tag_info .rc_el_tag_icon_close:hover {
    background-color: #909399;
    color: #ffffff;
}

.rc_el_tag_warning .rc_el_tag_icon_close:hover {
    background-color: #e6a23c;
    color: #ffffff;
}

.rc_el_tag_danger .rc_el_tag_icon_close:hover {
    background-color: #f56c6c;
    color: #ffffff;
}
